main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10vh 5vw;
	width: 100%;
	height: 100vh;
}

main section {
	background-color: white;
	padding: 5vh 25vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6vh;
	width: 100%;
	height: 100%;
	border-radius: 2vw;
	overflow: hidden;
	font-family: "SF Pro Display", sans-serif;
}

main section h1 {
	font-size: 2vw;
	font-weight: bold;
}

main section form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	gap: 2vh;
}

main section .formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	gap: 2vh;
}

main section form .passwordContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 7vh;
	background-color: #ebebeb;
	border-radius: 0.5vw;
	position: relative;
}

main section form .showPassword {
	position: absolute;
	right: 1vw;
	top: 50%;
	width: 2vw;
	height: 2vw;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

main section form .showPassword:hover {
	transform: translateY(-50%) scale(1.1);
}

main section form input {
	width: 100%;
	height: 7vh;
	padding: 0 1vw;
	border-radius: 0.5vw;
	border: none;
	background-color: #ebebeb;
	font-size: 1.2vw;
	color: #9c9c9c;
	font-family: "Absans", sans-serif;
}

main section form input::placeholder {
	color: #9c9c9c;
}

main section form .remember {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 7vh;
	margin-top: -2vh;
}

main section form .remember .souvenir {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5vw;
	width: auto;
}

.souvenir input[type="checkbox"] {
	display: none;
}

.souvenir label {
	display: inline-block;
	position: relative;
	padding-left: 2vw;
	cursor: pointer;
	font-size: 1vw;
	user-select: none;
	color: #9c9c9c;
}

/* boîte custom à gauche du texte */
.souvenir label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1.2vw;
	height: 1.2vw;
	border-radius: 0.3vw;
	background-color: #e4e4e4;
	border: none;
}

/* coche affichée quand coché */
.souvenir input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	left: 0.32vw;
	top: 0.03vw;
	width: 0.4vw;
	height: 0.8vw;
	border: solid #333;
	border-width: 0 0.2vw 0.2vw 0;
	transform: rotate(45deg);
}

main section form .remember a {
	font-size: 1vw;
	color: #d72f59;
	text-decoration: none;

	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

main section form button {
	width: 100%;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e47390;
	border-radius: 0.5vw;
	border: none;
	font-size: 1.2vw;
	color: white;

	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

main section form button:hover {
	transform: scale(1.01);
	filter: drop-shadow(0.2vw 0.2vw 0.2vw var(--black-color) 52);
}

main section .formContainer p {
	font-size: 1vw;
	color: black;
	text-align: center;
}

main section .formContainer p a {
	color: #d72f59;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

/* responsive */

@media screen and (max-width: 1150px) {
	main {
		padding: 10vh 5vw;
	}

	main section {
		padding: 5vh 20vw;
		gap: 6vh;
		border-radius: 2vw;
	}
}
