main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 15vh 2vw 2vw 20vw;
	width: 100%;
	height: auto;
	gap: 3vh;
}

main a {
	color: #6b7a99 !important;
	text-decoration: none !important;
}

.calendarHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: white;
	padding: 1.7vh 2vw;
	border-radius: 1vw;
}

#dates {
	font-size: 1.2vw;
}

.calendarHeader .left {
	width: auto;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 3vw;
}

.calendarHeader .left p {
	font-size: 1.5vw;
	font-weight: bold;
}

.calendarHeader .left .buttoncontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	width: auto;
	height: auto;
}

.calendarHeader .left .buttoncontainer button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 0.6vw;
	height: auto;
}

.calendarHeader .left .buttoncontainer button img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.calendarHeader .reserve {
	width: 10vw;
	height: 3vw;
	background-color: rgba(211, 27, 74, 0.61);
	border: none;
	color: white;
	border-radius: 1vw;
	cursor: pointer;
	font-size: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendarContainer {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 1vh;
	background-color: white;
	padding: 2vh 2vw;
	border-radius: 1vw;
}

.calendarheader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: transparent !important;
	padding: 1.7vh 2vw;
	border-radius: 1vw;
	gap: 2vw;
}

.calendarheader button {
	background-color: white;
	border: none;
	cursor: pointer;
	width: 3vw;
	height: 3vw;
	filter: drop-shadow(0 0 0.15vw var(--black-color) 18);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendarheader button:hover {
	background-color: #ffdee4;
}

.calendarheader button img {
	width: 20%;
	height: auto;
	object-fit: contain;
}

.calendar {
	width: 100%;
	background-color: white;
	border-radius: 1vw;
	padding: 2vh 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1vh;
}

th.fc-day {
	padding: 2vh 1.5vh;
	color: #6b7a99;
}

th.fc-timegrid-axis {
	/* ajouter img  */
	background-image: url("../res/time.svg");
	background-size: 2vw;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
	display: none;
}

a.fc-event {
	background-color: #ffdee5 !important;
	border: 0.15vw solid #edafbe !important;
	border-radius: 0.7vw !important;
	padding: 0.5vw 0.3vw 0 0.3vw !important;
	color: black !important;
}

div.fc-event-time {
	font-size: 2vw;
	/* mettre background derriere le text et non la div */
	font-weight: bold;
	color: black !important;
}

div.fc-event-title.fc-sticky {
	color: black !important;
}

div.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
	color: #6b7a99;
}

/* le tr avec le role row */

/* responsive */

@media screen and (max-width: 1150px) {
	main {
		padding: 4vh 3vw 2vw 3vw !important;
	}

	.calendarHeader {
		padding: 1.7vh 3vw;
		border-radius: 1vw;
	}

	.calendarHeader .left p {
		font-size: 3vw;
		font-weight: bold;
	}

	.calendarHeader .left .buttoncontainer button {
		width: 1.7vw;
		height: auto;
	}

	.calendarHeader .reserve {
		width: 15vw;
		height: 5vw;
		border-radius: 1vw;
		font-size: 2vw;
	}

	.calendarContainer {
		padding: 2vh 3vw;
		border-radius: 1vw;
	}

	.calendarheader {
		padding: 1.7vh 3vw;
		border-radius: 1vw;
		gap: 4vw;
	}

	#dates {
		font-size: 6vw;
	}
	.calendarheader button {
		width: 10vw;
		height: 10vw;
		filter: drop-shadow(0 0 0.5vw var(--black-color) 18);
	}

	.calendarheader button img {
		width: 20%;
		height: auto;
		object-fit: contain;
	}

	.calendar {
		padding: 2vh 0;
	}

	th.fc-day {
		padding: 2vh 1.5vh;
		font-size: 2vw;
		color: #6b7a99;
	}
}
